<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProgramConfig" type="GhostSelector.ProgramConfigSection,Ghost Selector"/>
  </configSections>
  <ProgramConfig>
    <GhostSelectors Choice="Default">
      <LeaderboardRank Rank="1"/>
      <FastestPlayer>
        <Player Name="Moonlight" SteamId="76561198129813529" Enabled="true"/>
        <Player Name="Paul" SteamId="76561197990677248" Enabled="true"/>
        <Player Name="Katie" SteamId="76561198082983121" Enabled="true"/>
        <Player Name="Noctence" SteamId="76561198165462935" Enabled="true"/>
        <Player Name="Pink" SteamId="76561198024430592" Enabled="true"/>
        <Player Name="Raijin" SteamId="76561198118325104" Enabled="true"/>
        <Player Name="Z" SteamId="76561198070931134" Enabled="true"/>
        <Player Name="TheMightyYiffer" SteamId="76561198053280840" Enabled="true"/>
        <Player Name="Chacal" SteamId="76561198054055657" Enabled="true"/>
        <Player Name="Xonics" SteamId="76561198334737066" Enabled="true"/>
        <Player Name="Equinox" SteamId="76561198066178024" Enabled="true"/>
        <Player Name="PND" SteamId="76561198082341552" Enabled="true"/>
        <Player Name="Hazel" SteamId="76561198271834729" Enabled="true"/>
        <Player Name="Giant Woman" SteamId="76561198020741974" Enabled="true"/>
        <Player Name="Fish Goes Moo" SteamId="76561197970356378" Enabled="true"/>
        <Player Name="TailsDK" SteamId="76561198101419483" Enabled="true"/>
        <Player Name="Braison" SteamId="76561198106807144" Enabled="true"/>
      </FastestPlayer>
      <FromFile NameTag="Rival Ghost" File=""/>
    </GhostSelectors>
    <Graphics>
      <NameTag Opacity="1"/>
      <PBGhost ChangeColour="false" Colour="magenta" Hide="false"/>
      <RivalGhost ChangeColour="false" Colour="yellow" Hide="true"/>
    </Graphics>
    <GhostSaver Enabled="false" Folder=""/>
  </ProgramConfig>
</configuration>
