<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProgramConfig" type="GhostSelector.ProgramConfigSection,Ghost Selector" />
  </configSections>
  <ProgramConfig>
    <PositionSelector SelectedPosition="0" />
    <FastestPlayerSelector Enabled="true">
      <Players>
        <clear />
        <Entry Name="Moonlight" SteamId="76561198129813529" Enabled="true" />
        <Entry Name="Paul" SteamId="76561197990677248" Enabled="true" />
        <Entry Name="Perf" SteamId="76561198082983121" Enabled="true" />
        <Entry Name="Noctence" SteamId="76561198165462935" Enabled="true" />
        <Entry Name="Pink" SteamId="76561198024430592" Enabled="true" />
        <Entry Name="Raijin" SteamId="76561198118325104" Enabled="true" />
        <Entry Name="Z" SteamId="76561198070931134" Enabled="true" />
        <Entry Name="TheMightyYiffer" SteamId="76561198053280840" Enabled="true" />
        <Entry Name="Chacal" SteamId="76561198054055657" Enabled="true" />
        <Entry Name="Xonics" SteamId="76561198334737066" Enabled="true" />
        <Entry Name="Equinox" SteamId="76561198066178024" Enabled="true" />
        <Entry Name="PND" SteamId="76561198082341552" Enabled="true" />
        <Entry Name="Harvey" SteamId="76561198271834729" Enabled="true" />
        <Entry Name="Giant Woman" SteamId="76561198020741974" Enabled="true" />
        <Entry Name="Fish Goes Moo" SteamId="76561198020741974" Enabled="true" />
        <Entry Name="TailsDK" SteamId="76561198101419483" Enabled="true" />
      </Players>
    </FastestPlayerSelector>
    <Graphics HideGhostCars="false" HidePBGhost="false" NameTagOpacity="1" />
  </ProgramConfig>
</configuration>